.note {
    min-height: 100vh;
    background-color: rgb(22, 22, 22);
}

.note-details {
    text-align: center;
    color: white;
    padding-top: 8%;
    background-color: rgb(22, 22, 22);
    height: 100%;
    width: 100%;
    padding-bottom: 15%;
}

.note-text-display {
    background-color: #131313;
    padding: 10px 0;
	box-shadow: -10px 0 0 #131313, 10px 0 0 #131313;
    text-align: center;
}